

<div class="wrapper">
    
    <div class="shadow-wrapper">
    <div class="tittle">
        <h1 class="ftittle">Напишите нам</h1>
    </div>
    <div class="trang"></div>
    </div>
    <div class="form">
	<form 
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    >
        <div *ngIf="username?.errors?.['required'] && (username?.touched)" class="invalid-feedback invalid-feedback-name"> *имя обязательно для заполнения</div>
        <div class="form-group">
            <label class="labeltx" for="name">Ваше имя:</label>
            <input formControlName="username" 
            type="text" id="name" class="input-data input-name-with-svg" name="name" required
            [class.is-invalid]="username?.invalid && (username?.touched)">
        </div>
        <div class="invalid-feedback invalid-feedback-email">
            <div *ngIf="email?.errors?.['required'] && (email?.dirty || email?.touched)">*email обязателен для заполнения</div>
            <div *ngIf="email?.errors?.['email'] && (email?.dirty || email?.touched)" > *введите корректный email</div>
        </div>

        <div class="form-group">
            <label class="labeltx" for="email">Ваш Email:</label>
            <input 
            formControlName="email" 
            [class.is-invalid]="email?.invalid && (email?.dirty || email?.touched)"
            type="email" id="email" class="input-data input-email-with-svg" name="email" required>
                
        </div>
        
        <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="invalid-feedback invalid-feedback-phone">
            <div *ngIf="phone?.errors?.['required']">*телефон обязателен</div>
        </div>
    

        <div class="form-group">
            <label class="labeltx" for="phone">Ваш телефон:</label>
            <input 
                mask="+0 (000) 000-00-00"
                [showMaskTyped]="true"
                [dropSpecialCharacters]="false"
                formControlName="phone"
                placeholder="+7 (___) ___-__-__"
                [class.is-invalid]="phone?.invalid && (phone?.dirty || phone?.touched)"
                type="text" class="input-data input-phone-with-svg" name="phone">
        </div>
        <div class="form-group">
            <label class="labeltx" for="top">Тема:</label>
            <select formControlName="selectedOption" class="topic" name="top" required>
                <option *ngFor="let option of option" [ngValue]="option.id">
                    {{ option.name }}
            </select>
        </div>
        <div *ngIf="message?.errors?.['required'] && (message?.touched)" class="invalid-feedback invalid-feedback-message"> *сообщение обязательно для заполнения</div>
        <div class="form-group">
            <label class="labeltx" for="message">Ваше <br> сообщение:</label>
            <textarea formControlName="message" [class.is-invalid]="message?.invalid && (message?.touched)"
            id="message" name="message" required ></textarea>
        </div>


        <div class="form-group">
            <label class="labeltx" for="digit">Цифры:</label>
            <input type="number" id="digit" class="input-number" name="digit" required>
        </div>
        <div class="form-group">
            <button class="btn" type="submit" [disabled]="form.invalid">Отправить письмо!</button>
        </div>
       
		
    </form>
    </div>
</div>
